<h1>Categories</h1>

<div class="card">
  <div class=""card-body>
    <h5 class="card-tittle"> Index </h5>
    <%= link_to "New", admin_new_categoy_path, class: 'btn btn-primary' %>

    <% if flash[:set_category_error] %>
      <%= flash[:set_category_error] %>
    <% end %>

    <table class="table table-hover">
      <tr>
        <th> Name </th>
        <th> Action </th>
      </tr>
      <% @categories.each do |c| %>
        <tr>
          <td> <%= c.name %> </td>
          <td> 
            <%= link_to "Edit", admin_edit_categoy_path %>
            <%= link_to "Delete", admin_categoy_path(c), method: :destroy %>
          </td>
        </tr>
      <% end %>
    </table>


  </div>
</div>
<!--
<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  This is a secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  This is a danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  This is a warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  This is a info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  This is a light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  This is a dark alert—check it out!
</div>


<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
</div>
<button type="button" class="btn btn-link">Link</button>
-->
