

<%= form_with(model: [:admin, base_product] do |form| ) %>

    <div class="mb-3">
        <%= form.label :description %>
        <%= form.text_field :description %>
        <% if base_product.erros[:description].any? %>
            <div>
                <%= base_product.erros[:description].fist %>
            </div>
        <% end %>
    </div>

    <%= form.submit %>

<% end %>



